# Виртуальное окружение
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/
*.egg

# MkDocs
site/
.cache/

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Логи и временные файлы
*.log
*.tmp